version: '3.7'
secrets:
  grafana_admin_password:
    file: secrets/grafana_admin_password.txt

services:
  parsedmarc:
    build: ./parsedmarc/
    volumes:
      - ./parsedmarc/parsedmarc.ini:/parsedmarc.ini:ro
      - ./parsedmarc/GeoLite2-Country.mmdb:/usr/share/GeoIP/GeoLite2-Country.mmdb:ro
      - ./parsedmarc/output_files:/output
    command: wait-for elasticsearch:9200 -t 60 -- venv/bin/parsedmarc -c /parsedmarc.ini
    depends_on:
      - elasticsearch

  # @see https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html
  elasticsearch:
    # There seems to be no :latest image - so a version has to be specified explicitly
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.8.0
    # Open distribution doesn't seem to work? Not sure why
    # image: amazon/opendistro-for-elasticsearch
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms200m -Xmx200m"
    volumes:
      - ./elasticsearch:/usr/share/elasticsearch/data
  
  # @see https://grafana.com/docs/grafana/latest/installation/docker/
  # @see https://grafana.com/docs/grafana/latest/installation/configure-docker/
  grafana:
    image: grafana/grafana:latest
    volumes:
      - ./grafana/data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/:ro
    ports:
      - 3000:3000
    secrets:
      - grafana_admin_password
    environment:
      GF_INSTALL_PLUGINS: grafana-piechart-panel,grafana-worldmap-panel
      GF_SECURITY_ADMIN_PASSWORD__FILE: /var/run/grafana_admin_password
